# --- Технічний кеш нашого проєкту (Те, що не пускаємо на GitHub) ---
f1_local_cache/

# --- Тимчасові файли Python (створюються автоматично під час запуску коду) ---
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# --- Віртуальні середовища ---
venv/
.venv/
env/

# --- Секретні файли конфігурацій (якщо з'являться паролі чи ключі API) ---
.env

# --- Файли операційної системи, які засмічують проєкт ---
.DS_Store
Thumbs.db
